<img src="Logo.png" width="100" align="left"/> 

# <center> Unit 3 Project </center>
#  <center> Third section : supervised task </center>

In this notebook you will be building and training a supervised learning model to classify your data.

For this task we will be using another classification model "The random forests" model.

Steps for this task: 
1. Load the already clustered dataset 
2. Take into consideration that in this task we will not be using the already added column "Cluster" 
3. Split your data.
3. Build your model using the SKlearn RandomForestClassifier class 
4. classify your data and test the performance of your model 
5. Evaluate the model ( accepted models should have at least an accuracy of 86%). Play with hyper parameters and provide a report about that.
6. Provide evidence on the quality of your model (not overfitted good metrics)
7. Create a new test dataset that contains the testset + an additional column called "predicted_class" stating the class predicted by your random forest classifier for each data point of the test set.

## 1. Load the data and split the data:

In [160]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd 
from sklearn.model_selection import train_test_split

In [161]:
# To-Do:  load the data 
df = pd.read_csv('./HepatitisCdata_cluster.csv')
df.head()

,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster
0,1,0,32,1,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0,3
1,2,0,32,1,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5,3
2,3,0,32,1,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3,3
3,4,0,32,1,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7,3
4,5,0,32,1,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7,3

In [162]:
df

,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster
0,1,0,32,1,38.5,52.50000,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0,3
1,2,0,32,1,38.5,70.30000,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5,3
2,3,0,32,1,46.9,74.70000,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3,3
3,4,0,32,1,43.2,52.00000,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7,3
4,5,0,32,1,39.2,74.10000,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,611,4,62,0,32.0,416.60000,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5,2
611,612,4,64,0,24.0,102.80000,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3,3
612,613,4,64,0,29.0,87.30000,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0,1
613,614,4,46,0,33.0,68.28392,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0,4
614,615,4,59,0,36.0,68.28392,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0,4

In [194]:
# To-Do : keep only the columns to be used : all features except ID, cluster 
cols = list(df.columns)
cols.remove('ID')
cols.remove('Category')
cols.remove('cluster')
df_2 = df[cols]

# The target here is the Category column 
y = df['Category']
X = df_2
# Do not forget to split your data (this is a classification task)
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)
# test set size should be 20% of the data

## 2. Building the model and training and evaluate the performance:

In [165]:
# To-do build the model and train it 
# note that you will be providing explanation about the hyper parameter tuning 
# So you will be iterating a number of times before getting the desired performance

In [166]:
y_hat = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0 )
#training the classifier
y_hat = y_hat.fit(X_train,y_train)
y_pred = y_hat.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 4,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       4, 0, 4, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 3, 0, 4, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0])

In [185]:
# To-do : evaluate the model in terms of accuracy and precision 
# Provide evidence that your model is not overfitting 
from sklearn.metrics import precision_score, accuracy_score
Accuracy = accuracy_score(y_test,y_hat.predict(X_test), normalize=True)
print("The accuracy is : ",Accuracy)
Precision = precision_score(y_test,y_hat.predict(X_test), average='weighted')
print("The precision is : ",Precision)

The accuracy is :  0.9105691056910569
The precision is :  0.878927708196001

/Users/cheimamezdour/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [96]:
cols_1 = list(df_2.columns)
cols_1.remove('CHE')
df_3 = df_2[cols_1]

# The target here is the Category column 
y = df_3['Category']
X = df_3   
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)
y_hat = y_hat.fit(X_train,y_train)
Accuracy = accuracy_score(y_test,y_hat.predict(X_test))
print("The accuracy is : ",Accuracy)
Precision = precision_score(y_test,y_hat.predict(X_test), average='micro')
print("The precision is : ",Precision)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

> Hint : A Perfect accuracy on the train set suggest that we have an overfitted model So the student should be able to provide a detailed table about the hyper parameters / parameters tuning with a good conclusion stating that the model has at least an accuracy of 86% on the test set without signs of overfitting

## 3. Create the summary test set with the additional predicted class column: 
In this part you need to add the predicted class as a column to your test dataframe and save this one

In [200]:
col= list(df.columns)
col.remove('Category')
df = df[col]

ValueError: list.remove(x): x not in list

In [201]:
df

,ID,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster
0,1,32,1,38.5,52.50000,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0,3
1,2,32,1,38.5,70.30000,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5,3
2,3,32,1,46.9,74.70000,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3,3
3,4,32,1,43.2,52.00000,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7,3
4,5,32,1,39.2,74.10000,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,611,62,0,32.0,416.60000,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5,2
611,612,64,0,24.0,102.80000,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3,3
612,613,64,0,29.0,87.30000,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0,1
613,614,46,0,33.0,68.28392,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0,4
614,615,59,0,36.0,68.28392,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0,4

In [230]:
# To-Do : create the complete test dataframe : it should contain all the feature column + the actual target and the ID as well  
test_df['Category'] = df['Category']

KeyError: 'Category'

In [229]:
test_df

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
49,Category,36,1,47.8,89.0,48.5,38.4,8.6,8.26,5.62,96.0,21.9,76.2
496,Category,56,0,45.1,79.1,39.0,30.5,5.2,6.47,5.10,64.0,145.3,66.7
211,Category,51,1,45.9,66.7,31.8,28.1,9.0,10.08,5.61,85.0,36.2,73.0
249,Category,55,1,44.7,71.6,22.9,22.1,5.5,6.82,4.61,105.0,59.2,72.7
142,Category,45,1,43.2,68.2,27.8,42.3,6.6,10.93,6.61,105.0,27.2,74.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,Category,32,1,44.3,52.3,21.7,22.4,17.2,4.15,3.57,78.0,24.1,75.4
419,Category,47,0,35.6,37.5,17.6,18.0,4.7,4.32,5.59,75.0,13.0,66.0
495,Category,56,0,33.2,54.3,15.5,22.8,8.0,5.61,3.87,55.0,19.1,63.1
557,Category,51,1,43.0,37.2,21.4,132.8,5.0,10.12,5.23,76.2,76.4,76.7
266,Category,58,1,40.9,55.8,17.5,23.0,5.3,8.52,6.41,93.0,18.5,70.9

In [185]:
test_df.head()

,ID,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster,Category
248,249,55,0,28.1,65.5,16.6,17.5,2.8,5.58,4.39,65.0,26.2,62.4,3,0
365,366,39,1,31.4,106.0,16.6,17.0,2.4,5.95,5.30,68.0,22.9,72.3,3,0
432,433,48,1,43.7,50.1,17.3,26.3,8.1,8.15,5.38,64.0,13.4,73.1,3,0
610,611,62,1,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5,2,3
132,133,44,0,35.5,81.7,27.5,29.5,6.4,8.81,6.65,83.0,24.1,68.0,3,0

In [186]:
# To-Do : Add the predicted_class column 
test_df["Predicted_class"] =

/home/soumia/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [187]:
test_df.head()

,ID,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster,Category,Predicted_class
248,249,55,0,28.1,65.5,16.6,17.5,2.8,5.58,4.39,65.0,26.2,62.4,3,0,0
365,366,39,1,31.4,106.0,16.6,17.0,2.4,5.95,5.30,68.0,22.9,72.3,3,0,0
432,433,48,1,43.7,50.1,17.3,26.3,8.1,8.15,5.38,64.0,13.4,73.1,3,0,0
610,611,62,1,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5,2,3,3
132,133,44,0,35.5,81.7,27.5,29.5,6.4,8.81,6.65,83.0,24.1,68.0,3,0,0

> Make sure you have 16 column in this test set

In [ ]:
# Save the test set 
test_df.to_csv("test_summary.csv")